<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>AMQPChat</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/css/style-$cacheBuster$.min.css">
  <script src="/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body>
  <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
  <![endif]-->
  <div id="content" class="container">
    <div id="chat" class="chat js-hidden" data-title="">
      <div id="chat-container" class="well well-large">
        <p>You logged in as <b id="chat-name"><% if (name) { %><%= name %><% } %></b>, say hello!</p>
      </div>
      <form id="form-chat" class="form-chat clearfix" action="/chat" method="post">
        <textarea name="chat[message]" id="chat-message" class="pull-left input-block-level" autofocus="autofocus" data-toggle="tooltip" data-placement="right" title="Write your chat message here and click the submit button."></textarea>
        <div id="chat-controls" class="pull-right clearfix">
          <button type="submit" class="pull-left btn btn-large btn-primary">Submit</button>
          <a id="logout" class="pull-right" href="/logout">Logout</a>
        </div>
      </form>
    </div>
    <form id="form-login" class="form-login js-hidden text-container" data-title="Login" action="/login" method="post">
      <h2 class="text-container-heading">Please login</h2>
      <input name="login[email]" id="login-email" type="email" placeholder="Email address" class="input-block-level" required="required" data-toggle="tooltip" data-placement="right" title="Email you specified during registration.">
      <input name="login[password]" id="login-password" type="password" placeholder="Password" class="input-block-level" required="required" data-toggle="tooltip" data-placement="right" title="Password we sent you after registration.">
      <button type="submit" class="btn btn-large btn-primary">Login</button>
      <button type="button" id="btn-form-register" class="btn form-switcher">Register</button>
    </form>
    <form id="form-register" class="form-register js-hidden text-container" data-title="Register" action="/register" method="post">
      <h2 class="text-container-heading">Please register</h2>
      <input name="register[name]" id="register-name" type="text" placeholder="Chat name" class="input-block-level" required="required" data-toggle="tooltip" data-placement="right" title="Your chat nickname.">
      <input name="register[email]" id="register-email" type="email" placeholder="Email address" class="input-block-level" required="required" data-toggle="tooltip" data-placement="right" title="Email will be used to identify you.">
      <button type="submit" class="btn btn-large btn-primary">Register</button>
      <button type="button" id="btn-form-login" class="btn form-switcher">Login</button>
    </form>
    <div id="registered" class="registered js-hidden text-container" data-title="Registered">
      <h2 class="text-container-heading">Successfully registered</h2>
      <p>You have successfully registered a new account!</p>
      <p>Your password: <b id="pass"></b></p>
      <p><em>You should write this down somewhere!</em></p>
      <p><button type="button" id="btn-chat" class="btn form-switcher">Start chatting</button></p>
    </div>
    <div id="loading" class="loading js-visible text-container" data-title="Loading"></div>
  </div>
  <script async src="/js/script-$cacheBuster$.min.js"></script>
</body>
</html>