<% include layout/header %>
<div class="container">
  <% if (message) { %>
    <div class="alert alert-error fade in"><%= message %></div>
  <% } %>
  <form class="form-login" action="/login" method="post">
    <h2 class="form-login-heading">Please login</h2>
    <input name="username" type="text" placeholder="Username" class="input-block-level">
    <input name="password" type="password" placeholder="Password" class="input-block-level">
    <button type="submit" class="btn btn-large btn-primary">Login</button>
  </form>
  <p>Use <em>guest</em> as username and password!</p>
</div>
<% include layout/footer %>