<% include layout/header %>
<div class="container">
  <form class="form-login" action="/login" method="post">
    <h2 class="form-login-heading">Please login</h2>
    <input type="email" placeholder="Email address" class="input-block-level">
    <input type="password" placeholder="Password" class="input-block-level">
    <button type="submit" class="btn btn-large btn-primary">Login</button>
  </form>
</div>
<% include layout/footer %>