<% include layout/header %>
<div class="container">
  <% if (message) { %>
    <div class="alert alert-error fade in"><%= message %></div>
  <% } %>
  <form class="form-login" action="/login" method="post">
    <h2 class="form-login-heading">Choose name</h2>
    <input name="name" type="text" placeholder="Name" class="input-block-level">
    <button type="submit" class="btn btn-large btn-primary">Login</button>
  </form>
</div>
<% include layout/footer %>